# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# goland
.idea

# Dependency directories (remove the comment below to include it)
# vendor/
/pgroute66

# Don't include test/config.yaml, a workaround to run ./docker-compose-tests.sh on a mac where base64 -w0 is actually base64 -b0.
test/config.yaml

# And leave out temp certs too
pgroute66.crt
pgroute66.key
